# Venv
# pip does not work for the first one
venv_llm_prompt_and_prefix_tuning 
venv_2

# Files
*.pyc

# Env
.env

# Folders
pics/
vastai_instances/
vastai_retry

# WILL CHANGE
outputs/ 
tools/.ipynb_checkpoints/
*.tgz
._*
*.ipynb
